# Data Analytics w/Python

# HW5_Minseok Oh

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code would not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
<li>You answer is composed of more than one output, unless explicitly permitted
</ul>

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt

# Data Set Description

## USA.gov Data from Bitly

In 2011, URL shortening service Bitly *Bitly.com* partnered with the US goverment website *USA.gov* to provide a feed of anonymous data gathered from users who shorten links ending with *.gov* or *.mil*.  This service is shut down at 2017.

In this database, each line contains a common form of web data known as **JSON**, which stands for *JavaScript Object Notation* . Python has both built-in and 3rd party libraries for converting a JSON string into a Python dictionary object. Then we can use *pd.DataFrame* convert dictionary object into Dataframe for our analysis.

each line has a number of identifying attributes.

In [18]: records[0] <br>
Out[18]: <br>
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko)
Chrome/17.0.963.78 Safari/535.11', <br>
 'al': 'en-US,en;q=0.8', <br>
 'c': 'US',<br>
 'cy': 'Danvers',<br>
 'g': 'A6qOVH',<br>
 'gr': 'MA',<br>
 'h': 'wfLQtf',<br>
 'hc': 1331822918,<br>
 'hh': '1.usa.gov',<br>
 'l': 'orofrog',<br>
 'll': [42.576698, -70.954903],<br>
 'nk': 1,<br>
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',<br>
 't': 1331923247,<br>
 'tz': 'America/New_York',<br>
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991'}<br>

In [6]:
import json
file_name = 'bitly_usagov_example.txt'
records = [json.loads(line) for line in open(file_name)]

In [7]:
records[0:2]

[{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
  'c': 'US',
  'nk': 1,
  'tz': 'America/New_York',
  'gr': 'MA',
  'g': 'A6qOVH',
  'h': 'wfLQtf',
  'l': 'orofrog',
  'al': 'en-US,en;q=0.8',
  'hh': '1.usa.gov',
  'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
  'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
  't': 1331923247,
  'hc': 1331822918,
  'cy': 'Danvers',
  'll': [42.576698, -70.954903]},
 {'a': 'GoogleMaps/RochesterNY',
  'c': 'US',
  'nk': 0,
  'tz': 'America/Denver',
  'gr': 'UT',
  'g': 'mwszkS',
  'h': 'mwszkS',
  'l': 'bitly',
  'hh': 'j.mp',
  'r': 'http://www.AwareMap.com/',
  'u': 'http://www.monroecounty.gov/etc/911/rss.php',
  't': 1331923249,
  'hc': 1308262393,
  'cy': 'Provo',
  'll': [40.218102, -111.613297]}]

* **a**: info. about browser, device or application used to perform the URL shortening. 
* **c**: country
* **cy**: city
* **gr**: state
* **ll**: longitude and latitude
* **tz**: TimeZone
* **u**: original URL being shorted

## Convert this dictionary *records* into DataFrame. (find out which method to use yourself)

In [8]:
df = pd.DataFrame(records)
df.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1.0,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1.331923e+09,1.331823e+09,Danvers,"[42.576698, -70.954903]",NaN,NaN
1,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331923e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
2,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,US,1.0,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1.331923e+09,1.331920e+09,Washington,"[38.9007, -77.043098]",NaN,NaN
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0.0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1.331923e+09,1.273672e+09,Shrewsbury,"[42.286499, -71.714699]",NaN,NaN

### Q1.1,   How many records are in the Dataframe? (In Camino, pick the right number)

In [9]:
num_records = df.shape[0]

In [10]:
num_records = len(df)

In [11]:
num_records

3560

### Q1.2,   In column city('cy'), how many records are Nan? (In Camino, pick the right number)

In [12]:
num_nan_records = df['cy'].isna().sum()

In [13]:
num_nan_records

641

### Q1.3,   Exclude Nan, how many different countries this dataset include?  (In Camino, pick the right number)

In [14]:
num_unique_countries = df['c'].nunique()

In [15]:
num_unique_countries

71

### Q1.4, Outside of US, what's the top 5 cities use this Bitly service? (In Camino, choose the  city name with the most usage)

In [16]:
df_non_us = df[df['c'] != 'US']
df_non_us.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
6,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,PL,0.0,Europe/Warsaw,77,wcndER,zkpJBR,bnjacobs,"pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4",1.usa.gov,http://plus.url.google.com/url?sa=z&n=13319232...,http://www.nasa.gov/mission_pages/nustar/main/...,1.331923e+09,1.331923e+09,Luban,"[51.116699, 15.2833]",NaN,NaN
7,Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...,None,0.0,,NaN,wcndER,zkpJBR,bnjacobs,"bg,en-us;q=0.7,en;q=0.3",1.usa.gov,http://www.facebook.com/,http://www.nasa.gov/mission_pages/nustar/main/...,1.331923e+09,1.331923e+09,NaN,NaN,NaN,NaN
8,Opera/9.80 (X11; Linux zbov; U; en) Presto/2.1...,None,0.0,,NaN,wcndER,zkpJBR,bnjacobs,"en-US, en",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.nasa.gov/mission_pages/nustar/main/...,1.331923e+09,1.331923e+09,NaN,NaN,NaN,NaN
9,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,None,0.0,,NaN,zCaLwp,zUtuOu,alelex88,"pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4",1.usa.gov,http://t.co/o1Pd0WeV,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,NaN,NaN,NaN,NaN

In [17]:
city_counts = df_non_us['cy'].value_counts()
city_counts.head()

Nogata    29
London    16
Madrid    13
Mexico    12
SPaulo    11
Name: cy, dtype: int64

In [18]:
top_5_cities = city_counts.head(5)

In [19]:
print(top_5_cities)

Nogata    29
London    16
Madrid    13
Mexico    12
SPaulo    11
Name: cy, dtype: int64

## Q2

### Q2.1, How many records are from Russia?  (In Camino, pick the right number)

In [20]:
num_records_russia = df[df['c'] == 'RU'].shape[0]

In [21]:
num_records_russia

13

### Q2.2, In those records, which city has the highest usage count ?  (In Camino, pick the right city name)

In [22]:
russia_df = df[df['c'] == 'RU']
russia_df.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
498,Opera/9.80 (Windows NT 5.1; U; ru) Presto/2.9....,RU,0.0,Asia/Novosibirsk,53,xVZg4P,wqUkTo,nasatwitter,"ru-RU,ru;q=0.9,en;q=0.8",go.nasa.gov,direct,http://www.nasa.gov/multimedia/imagegallery/im...,1.331924e+09,1.331908e+09,Novosibirsk,"[55.0411, 82.934402]",NaN,NaN
555,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,RU,0.0,Europe/Moscow,48,wcndER,zkpJBR,bnjacobs,"en-GB,en-US;q=0.8,en;q=0.6",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.nasa.gov/mission_pages/nustar/main/...,1.331924e+09,1.331923e+09,Moscow,"[55.752201, 37.615601]",NaN,NaN
764,Opera/9.80 (Windows NT 5.1; U; ru) Presto/2.10...,RU,0.0,Europe/Moscow,66,Ch5wd,FOjduY,tweetdeckapi,"ru-RU,ru;q=0.9,en;q=0.8",1.usa.gov,direct,https://www.cia.gov/library/publications/world...,1.331924e+09,1.331924e+09,Saint Petersburg,"[59.894402, 30.2642]",NaN,NaN
777,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,RU,0.0,Europe/Moscow,48,16e1jo,dJY67O,tmartin,ru,prks.org,http://yandex.ru/yandsearch?text=prks.org&lr=213,http://www.nps.gov/getaways/,1.331924e+09,1.301482e+09,Moscow,"[55.752201, 37.615601]",NaN,NaN
1137,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.7...,RU,0.0,Asia/Yekaterinburg,33,wcndER,zkpJBR,bnjacobs,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/,http://www.nasa.gov/mission_pages/nustar/main/...,1.331924e+09,1.331923e+09,Kirov,"[58.596901, 49.658298]",NaN,NaN

In [23]:
city_counts = russia_df['cy'].value_counts()
city_counts.head()

Moscow              8
Saint Petersburg    2
Novosibirsk         1
Kirov               1
Krasnodar           1
Name: cy, dtype: int64

In [24]:
top_city = city_counts.idxmax()
top_city_count = city_counts.max()

In [25]:
top_city_count

8

### Q2.3, In those records, how many access to cia.gov  (In Camino, pick the right number)

In [26]:
russia_records = df[df['c'] == 'RU']
russia_records.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
498,Opera/9.80 (Windows NT 5.1; U; ru) Presto/2.9....,RU,0.0,Asia/Novosibirsk,53,xVZg4P,wqUkTo,nasatwitter,"ru-RU,ru;q=0.9,en;q=0.8",go.nasa.gov,direct,http://www.nasa.gov/multimedia/imagegallery/im...,1.331924e+09,1.331908e+09,Novosibirsk,"[55.0411, 82.934402]",NaN,NaN
555,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,RU,0.0,Europe/Moscow,48,wcndER,zkpJBR,bnjacobs,"en-GB,en-US;q=0.8,en;q=0.6",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.nasa.gov/mission_pages/nustar/main/...,1.331924e+09,1.331923e+09,Moscow,"[55.752201, 37.615601]",NaN,NaN
764,Opera/9.80 (Windows NT 5.1; U; ru) Presto/2.10...,RU,0.0,Europe/Moscow,66,Ch5wd,FOjduY,tweetdeckapi,"ru-RU,ru;q=0.9,en;q=0.8",1.usa.gov,direct,https://www.cia.gov/library/publications/world...,1.331924e+09,1.331924e+09,Saint Petersburg,"[59.894402, 30.2642]",NaN,NaN
777,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,RU,0.0,Europe/Moscow,48,16e1jo,dJY67O,tmartin,ru,prks.org,http://yandex.ru/yandsearch?text=prks.org&lr=213,http://www.nps.gov/getaways/,1.331924e+09,1.301482e+09,Moscow,"[55.752201, 37.615601]",NaN,NaN
1137,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.7...,RU,0.0,Asia/Yekaterinburg,33,wcndER,zkpJBR,bnjacobs,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/,http://www.nasa.gov/mission_pages/nustar/main/...,1.331924e+09,1.331923e+09,Kirov,"[58.596901, 49.658298]",NaN,NaN

In [27]:
cia_access_count = russia_records['u'].str.contains('cia.gov').sum()

In [28]:
cia_access_count

2

## Q3 We are interested in time zones in this data set (the **tz** field).

### Q3.1, Let's clean the tz field. If it is empty, filled with 'Unknown'. If it is NaN, filled with 'Missing'.  After cleaning, how many tz field are in 'Missing' state and how many are in 'Unknown' state?  (In Camino, fill in these two numbers in the format of 'Missing'/'Unknown'. Don't leave any space in the answer.)

In [29]:
df['tz'] = df['tz'].fillna('Missing')

In [30]:
df['tz'] = df['tz'].replace('', 'Unknown')

In [31]:
missing_count = (df['tz'] == 'Missing').sum()
unknown_count = (df['tz'] == 'Unknown').sum()

In [32]:
missing_count
unknown_count

120

521

### Q3.2, What's the top 10 timezone in this data set? (exclude Unknown and Missing) (In Camino, pick the 10th place timezone)

In [33]:
tz_counts = df['tz'].value_counts()

In [34]:
tz_counts = tz_counts[~tz_counts.index.isin(['Unknown', 'Missing'])]
tz_counts

America/New_York        1251
America/Chicago          400
America/Los_Angeles      382
America/Denver           191
Europe/London             74
                        ...
Europe/Uzhgorod            1
Australia/Queensland       1
Europe/Sofia               1
America/Costa_Rica         1
America/Tegucigalpa        1
Name: tz, Length: 96, dtype: int64

In [35]:
top_10_timezones = tz_counts.head(10)

In [36]:
top_10_timezones

America/New_York       1251
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Europe/Berlin            28
Name: tz, dtype: int64

### Q3.3 Use seaborn package to make a horizontal bar plot based on previous question. (Use tz as Y-axis).  (In Camino, select the cities in the first 3 timezone, multiple choices)

In [37]:
import matplotlib.pyplot as plt

In [38]:
tz_counts = df['tz'].value_counts()

In [39]:
tz_counts_cleaned = tz_counts[~tz_counts.index.isin(['Unknown', 'Missing'])]

In [56]:
top_10_timezones = tz_counts_cleaned.head(10)
top_10_timezones

America/New_York       1251
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Europe/Berlin            28
Name: tz, dtype: int64

In [57]:
plt.figure(figsize=(10, 8))
sns.barplot(x=top_10_timezones.values, y=top_10_timezones.index, orient='h')

##### plt.xlabel('Number of Records')
plt.ylabel('Time Zone')
plt.title('Top 10 Time Zones in the Data Set')

In [58]:
plt.show()

### Q3.4,  If based on 'c' field (Country) and the 'America' keyword in 'tz' field, count how many records are from US ? (In Camino, fill in those two count numbers in format of count_by_c/count_by_tz. Don't leave any space in the answer.)

In [47]:
count_by_c = (df['c'] == 'US').sum()
count_by_c

2305

In [48]:
count_by_tz = df['tz'].str.contains('America', na=False).sum()

In [49]:
count_by_tz

2412

### Q3.5,  Based on last question,  is both counts match ? If not, find out how many records are timezone with 'America' keyword but Country not in US? (In Camino, select the correct number)

In [50]:
count_by_c

2305

In [51]:
count_by_tz1 = df['tz'].str.contains('America', case=False, na=False).sum()
count_by_tz1

2412

In [52]:
mismatch_count = df[df['tz'].str.contains('America', case=False, na=False) & (df['c'] != 'US')].shape[0]
mismatch_count

143

In [53]:
if count_by_c != count_by_tz:
    print(f"Mismatch Count: {mismatch_count}")
else:
    print("Both counts match.")

Mismatch Count: 143